/* app css stylesheet */

body {
  padding-top: 50px;
}

.main-container {
  padding: 40px 15px;
}

.navbar-inverse {
    background-color: #3a4e70;
    border-color: #253147;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.panel-body { padding-top:0px; }

.job-name { 
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

button.add-job {
	background-color: #3a4e70;
	border-color: #253147;
}